*
{
  box-sizing: border-box;

}



body
{
  background-color: #ffdab9;
}

hr
{
border-style: dotted none none;

height: 0px;
width: 10%;
border-color: black;
border-width: 5px;

}

h1
{
  color: #66BF8F;

}
h3
{
  color: #66BF8F;

}
